.challenge {
	position: relative;
}

.challenge-container {
	position: relative;
	width: 400px;
	height: 300px;
	background-color: #fff29e;
	overflow: hidden;
}

.frog::before,
.frog::after,
.eyes,
.frog-body,
.frog-body::before,
.frog-body::after,
.leg-l,
.leg-r,
.leg-l::before,
.leg-r::before,
.tongue,
.fly {
	position: absolute;
	content: "";
}

.frog {
	background-color: #8ebc00;
	height: 120px;
	width: 160px;
	border-radius: 50%;
	margin: 0 auto;
	transform: translateY(80px);
}

.frog::before {
	height: 60px;
	width: 120px;
	background-color: #c1d218;
	border-radius: 0 0 60px 60px;
	transform: translate(20px, 60px);
}

.frog::after {
	width: 140px;
	height: 8px;
	background-color: #477a26;
	border-radius: 5px;
	transform: translate(10px, 55px);
}

.eyes {
	background-color: #234106;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #ffffff, 0 0 0 18px #8ebc00, 70px 0 0 0 #234106, 70px 0 0 10px #ffffff, 70px 0 0 18px #8ebc00;
	transform: translateX(30px);
}

.frog-body {
	background-color: #c1d218;
	height: 60px;
	width: 70px;
	border-radius: 70px 70px 0 0;
	box-shadow: 0 -20px 0 20px #8ebc00;
	transform: translate(45px, 130px);
	z-index: -1;
}

.frog-body::before,
.frog-body::after {
	height: 40px;
	width: 25px;
	background-color: #8ebc00;
}

.frog-body::before {
	border-radius: 50% 0;
	transform: translate(-12px, 40px) rotate(90deg);
}

.frog-body::after {
	border-radius: 0 50%;
	transform: translate(57px, 40px) rotate(90deg);
}

.leg-l,
.leg-r {
	height: 85px;
	width: 50px;
	background-color: #477a26;
	border-radius: 50%;
	bottom: 100px;
	z-index: -2;
}

.leg-r {
	transform: translate(110px, 180px) rotate(30deg);
}

.leg-l {
	transform: translate(0px, 180px) rotate(-30deg);
}

.leg-l::before,
.leg-r::before {
	height: 25px;
	width: 50px;
	background-color: #477a26;
	border-radius: 30px 30px 0 0;
}

.leg-l::before {
	transform: translate(-15px, 50px) rotate(30deg);
}

.leg-r::before {
	transform: translate(15px, 50px) rotate(-30deg);
}

.tongue {
	height: 130px;
	width: 8px;
	background-color: #f57b78;
	border-radius: 8px;
	transform: translate(70px, -72px) rotate(-45deg) scaleY(0);
	transform-origin: bottom;
	animation: tongue 5s linear infinite;
}

@keyframes tongue {
	50% {
		transform: translate(70px, -72px) rotate(-45deg) scaleY(0);
	}

	52% {
		transform: translate(70px, -72px) rotate(-45deg) scaleY(1);
	}

	54% {
		transform: translate(70px, -72px) rotate(-45deg) scaleY(1);
	}

	56% {
		transform: translate(70px, -72px) rotate(-45deg) scaleY(0);
	}
}

.fly {
	aspect-ratio: 1;
	width: 13px;
	background-color: #000000;
	border-radius: 50%;
	box-shadow: 8px -8px 0 -2px #a0a0a0, -8px -8px 0 -2px #a0a0a0;
	top: 0;
	left: 0;
	animation: fly 5s linear infinite;
	transform: translate(420px, 50px);
}

@keyframes fly {
	5% {
		opacity: 1;
		transform: translate(420px, 60px);
	}

	10% {
		transform: translate(380px, 30px);
	}

	15% {
		transform: translate(340px, 60px);
	}

	20% {
		transform: translate(300px, 30px);
	}

	25% {
		transform: translate(280px, 60px);
	}

	30% {
		transform: translate(220px, 30px);
	}

	35% {
		transform: translate(180px, 60px);
	}

	45% {
		transform: translate(160px, 30px);
	}

	50% {
		transform: translate(140px, 40px);
	}

	52% {
		opacity: 1;
		transform: translate(100px, 45px);
	}

	53% {
		opacity: 0;
		transform: translate(100px, 45px);
	}

	100% {
		opacity: 0;
	}
}