.challenge {
	position: relative;
}

.challenge-container {
	position: relative;
	width: 400px;
	height: 300px;
	background-color: var(--blue-950);
	display: flex;
}

.text {
	margin: 30px 0 0 30px;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 36px;
	font-weight: bold;
}

.line {
	height: 50px;
	width: 200px;
	overflow: hidden;
}

.content {
	margin: 0;
	text-align: center;
	line-height: 50px;
	height: 50px;
	transition: transform 0.2s;
}

.text:hover .content {
	transform: translate(0, -50px);
}

.line:nth-child(odd) {
	transform: skew(60deg, -30deg) scaleY(0.666);
}

.line:nth-child(even) {
	transform: skew(0deg, -30deg) scaleY(1.333);
}

.line:first-child {
	background: transparent;
	translate: 29px 0px;
}

.line:nth-child(2) {
	background: #f07e6e;
	translate: 58px 0px;
}

.line:nth-child(3) {
	background: #84cdfa;
	translate: 87px 0px;
}

.line:nth-child(4) {
	background: #5ad1cd;
	translate: 116px 0px;
}