.challenge {
	position: relative;
}

.challenge-container {
	position: relative;
	width: 400px;
	height: 300px;
	background-color: var(--blue-500);
	display: flex;
	justify-content: center;
	align-items: center;
}

.body,
.body::before,
.body::after,
.bubbles,
.periscope,
.periscope::after,
.helix,
.helix::after,
.window,
.window::after,
.engine,
.engine::before,
.engine::after,
.lights,
.lights::before {
	content: "";
	position: absolute;
}

.scope,
.bubbles,
.window,
.window::after,
.engine {
	aspect-ratio: 1;
	border-radius: 50%;
}

.scope {
	position: relative;
	height: 250px;
	background: var(--blue-950);
	border: 8px solid var(--blue-300);
	overflow: hidden;
}

.bubbles {
	width: 10px;
	background-color: var(--blue-50);
	opacity: 0.6;
	margin-left: 250px;
	margin-top: 55px;
	box-shadow:
		70px -40px 0 0 var(--blue-50),
		60px 30px 0 0 var(--blue-50),
		50px 90px 0 0 var(--blue-50),
		150px 20px 0 0 var(--blue-50),
		120px 100px 0 0 var(--blue-50),
		30px 140px 0 0 var(--blue-50);
	animation:
		bubbles-h-movement 1s ease-in infinite,
		bubbles-v-movement 0.8s ease-in-out infinite alternate,
		bubbles-shadow-movement 0.8s ease-in-out infinite alternate;
}

@keyframes bubbles-h-movement {
	to {
		margin-left: -150px;
	}
}

@keyframes bubbles-v-movement {
	0% {
		margin-top: 55px;
	}

	50% {
		margin-top: 70px;
	}

	100% {
		margin-top: 95px;
	}
}

@keyframes bubbles-shadow-movement {
	50% {
		box-shadow:
			110px -50px 0 0 var(--blue-50),
			70px 60px 0 0 var(--blue-50),
			30px 100px 0 0 var(--blue-50),
			120px 10px 0 0 var(--blue-50),
			160px 90px 0 0 var(--blue-50),
			60px 140px 0 0 var(--blue-50);
	}

	100% {
		box-shadow:
			120px -60px 0 0 var(--blue-50),
			80px 40px 0 0 var(--blue-50),
			10px 110px 0 0 var(--blue-50),
			100px 25px 0 0 var(--blue-50),
			180px 105px 0 0 var(--blue-50),
			90px 140px 0 0 var(--blue-50);
	}
}

.submarine {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	animation: submarine-floating 3s ease-in-out infinite;
}

@keyframes submarine-floating {
	0% {
		margin-top: 5px;
		margin-left: 0px;
		transform: rotate(-1deg);
	}

	25% {
		margin-top: -5px;
		margin-left: 5px;
		transform: rotate(-5deg);
	}

	60% {
		margin-top: 10px;
		margin-left: 25px;
		transform: rotate(8deg);
	}

	75% {
		margin-top: 5px;
		margin-left: -8px;
		transform: rotate(-3deg);
	}

	100% {
		margin-top: 5px;
		margin-left: 0px;
		transform: rotate(-1deg);
	}
}

.body {
	top: 50%;
	left: 50%;
	width: 140px;
	height: 80px;
	border-radius: 40px;
	background: linear-gradient(180deg, var(--blue-600), var(--blue-800));
	transform: translate(-50%, -50%);
}

.body::before {
	width: 30px;
	height: 70px;
	background: linear-gradient(180deg, var(--blue-600), var(--blue-800));
	border-radius: 8px;
	transform: translate(-30px, 5px);
}

.body::after {
	width: 65px;
	height: 25px;
	left: 50%;
	background: linear-gradient(180deg, var(--blue-600), var(--blue-800));
	border-radius: 8px 8px 0 0;
	transform: translate(-50%, -23px);
}

.periscope {
	width: 10px;
	height: 20px;
	border-radius: 5px 5px 0 0;
	background-color: var(--blue-600);
	transform: translate(75px, -40px);
}

.periscope::after {
	width: 15px;
	height: 10px;
	border-radius: 0 5px 5px 0;
	background-color: var(--blue-600);
	transform: translate(5px, 0px);
}

.helix {
	width: 20px;
	height: 60px;
	border-radius: 2px;
	background: linear-gradient(180deg, var(--blue-300), var(--blue-300) 50%, var(--blue-500) 51%, var(--blue-500));
	background-size: 100% 20px;
	transform: translate(-25px, 10px);
	animation: helix-spin 0.1s linear infinite;
}

@keyframes helix-spin {
	100% {
		background: linear-gradient(180deg, var(--blue-500), var(--blue-500) 50%, var(--blue-300) 51%, var(--blue-300));
		background-size: 100% 20px;
	}
}

.window {
	width: 30px;
	background: linear-gradient(135deg, var(--blue-800), var(--blue-950));
	border: 3px solid var(--blue-300);
	transform: translate(90px, 25px);
}

.window::after {
	width: 22px;
	border-top: 3px solid var(--blue-50);
	transform: translate(4px, 3px) rotate(-30deg);
}

.engine {
	width: 25px;
	border: 3px solid var(--blue-300);
	background-color: var(--blue-500);
	transform: translate(45px, 37px);
	animation: engine-spin 1s linear infinite;
}

.engine::after,
.engine::before {
	width: 4px;
	height: 90%;
	left: 50%;
	border-radius: 2px;
	background-color: white;
	animation: spin 900ms linear infinite;
	opacity: 0.8;
	transform-origin: center center;
	transform: translate(-50%, 5%);
}

.engine::after {
	transform: translate(-50%, 5%) rotate(90deg);
}

@keyframes engine-spin {
	to {
		transform: translate(45px, 37px) rotate(360deg);
	}
}

.lights {
	border-style: solid;
	border-width: 0 50px 150px 50px;
	border-color: transparent transparent var(--blue-500) transparent;
	transform: translate(125px, 40px) rotate(-45deg);
}

.lights::before {
	width: 20px;
	height: 13px;
	border-radius: 5px;
	background-color: var(--blue-600);
	transform: translateX(-10px);
}